# Simple Load Test Report
__test__ git:(hector-back-wednesday) ✗ artillery run complex-load.test.json
Started phase 0, duration: 3s @ 11:28:24(-0700) 2018-03-21
Started phase 1, duration: 5s @ 11:28:27(-0700) 2018-03-21
Report @ 11:28:33(-0700) 2018-03-21
  Scenarios launched:  53
  Scenarios completed: 53
  Requests completed:  53
  RPS sent: 7.1
  Request latency:
    min: 365.7
    max: 850
    median: 418.6
    p95: 534.4
    p99: 841.5
  Codes:
    201: 53

All virtual users finished
Summary report @ 11:28:33(-0700) 2018-03-21
  Scenarios launched:  53
  Scenarios completed: 53
  Requests completed:  53
  RPS sent: 7.1
  Request latency:
    min: 365.7
    max: 850
    median: 418.6
    p95: 534.4
    p99: 841.5
  Scenario counts:
    Create Users: 53 (100%)
  Codes:
    201: 53
